# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.pdb
*.ilk
*.meta
*.tlog
*.cache
*.aps
*.bsc
*.sbr
*.res
*.pch
*.exp
*.lib
*.obj
*.ncb
*.opendb
*.opensdf
*.sdf
*.ipch
*.log
*.bak
*.old
*.tmp
*.err
*.vspscc
*.vssscc
*.vsscc
*.vsp
*.vpw
_ReSharper*/
*.[Cc]odeAnalysis/
*.vsix
*.webtest
*.testrunconfig
*.trx
*.fxcop
*.fxcopx
*.ruleset
*.ruleset.bak

# NuGet
*.nupkg
*.snupkg
*.lock.json
project.assets.json
packages/

# Rider
.idea/
*.iml

# Azure Functions
.azurefunctions/

# Node.js
node_modules/

# Playwright
playwright-report/
test-results/

# Misc
*.DS_Store
Thumbs.db
